[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
virtualenv = "*"
alembic = "*"
sqlalchemy = "*"
uvicorn = "*"
fastapi = {extras = ["standard"], version = "*"}
aiosqlite = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.14"
